@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #FAF5E3;
}

.paraHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 17px;
}

.btns-header img{
  width: 41px;
}

.header {
  /* margin-left: 350px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.bag{
  margin-top: 51px;
}

.title-header {
  font-size: 30.3px;
  font-weight: 400;

  text-align: center;
  margin-top: 30px;
  margin-left: 150px;
}
.btns-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
  margin-right: -100px;
}
.btn-header {
  background-color: #95c5b7;
  color: #faf5e3;
  width: 178.77px;
  height: 40.4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.btns-header button:hover{
     background-color: #63867c;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#nav-item {
  background-color: #faf5e3;
  border: none;
  font-size: 19px;
  font-weight: 400px;
  cursor: pointer;
}

.container{
    display: flex;
    align-items: center;

    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    margin-top: 39px;
}

.formulario{
    height: 609px;
    width: 545px;
    background-color: #95C5B7;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    /* margin-top: 194px;
    margin-left: 101px; */

}

.titulo{

font-size: 50.5px;
line-height: 61px;
line-height: 100%;
align-items: left;
padding-left: 31px;
padding-top: 53px;
font-style: bold;
font-weight: bolder;
}

.instrucao{
    font-style: regular;
    font-size: 22.22px;
    line-height: 27px;
    line-height: 100%;
    text-align: center;
    padding-top: 15px;
    
   

}

.img{
    width: 545px;
    height: 609;
    position: relative;
    /* margin-left: 223px; */
}

.nome{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 483px;
    padding-top: 60px;
    margin-left: 31px;
    font-size: 23px;
    outline: none;
    font-style: Regular;
}

.email{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 483px;
    padding-top: 52px;
    margin-left: 31px;
    font-size: 23px;
    outline: none;
    font-style: Regular;
}

.mensagem{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    width: 483px;
    padding-top: 52px;
    margin-left: 31px;
    font-size: 23px;
    outline: none;
    font-style: Regular;
}

::placeholder{
    color: black;
}

#loginBtn{
    width: 483px;
    height: 52px;
    margin-top: 46px;
    margin-left: 31px;
    font-size: 23px;
    border: none;
    background-color: #EFB25F;
    text-align: center;
    cursor: pointer;
}

.ellipse{
    background-color: #95C5B7;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -35px;
    right: -35px;

}

.chat{
    width: 44px;
    height: 44px;
    
}

footer {
  margin-top:10rem;
  background-color: #EFB25F;
  height: 35rem;
}
.footer-line {
  width: 3px;
  height: 20rem;
  background-color: #000000;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.direitos {
  display: flex;
  flex-direction: row;
}
.footer-title {
  font-size: 40px;
  font-weight: 400;
}

.footer-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 15rem;
  padding-top: 10rem;
}
.footer-redes {
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

#direitos {
  font-size: 19px;
  font-weight: 500;
}
.p-footer {
  font-size: 20px;
  font-weight: 500;
}
.insta {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.face {
  display: flex;
  flex-direction: row;

  gap: 10px;
}
.emaill {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.emaill, .face, .insta{
  text-decoration: none;
  color: #000000;
}














